.connect {
  margin-top: 170px;
  background-image: url("/imgs/header_absolute.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 314px 445px;
  justify-content: center;
  align-items: center;
  gap: 80px;

  &__right {
    & h3 {
      font-size: 33px;
      color: #fff;
      font-weight: 800;
      line-height: 41px;
    }

    & label {
      display: flex;
      align-items: center;
      margin-top: 32px;

      & input {
        width: 248px;
        height: 52px;
        font-family: "Gilroy-Regular";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 16px;
        color: #474a57;
      }

      & .btn {
        padding: 15px 24px;
        font-family: "Gilroy-Bold";
        background-color: #18191f;
        color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        transition: all 0.5s ease;
      }

      & .btn:hover {
        background-color: #fff;
        color: #18191f;
        border-color: #18191f;
      }
    }
  }
}

@media (max-width: 768px) {
  .connect {
    margin-top: 140px;
    background-image: url("/imgs/header_absolute-1.png");
    grid-template-columns: 269px 330px;
    gap: 30px;

    &__right {
      & h3 {
        font-size: 24px;
        line-height: 32px;
      }

      & label {
        & input {
          width: 210px;
          height: 52px;
        }

        & .btn {
          padding: 14px 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .connect {
    margin-top: 105px;
    background-image: url("/imgs/header_absolute-2.png");
    grid-template-columns: 269px;
    height: 467px;
    width: 330px;

    &__left {
      & img {
        width: 269px;
        height: 239px;
      }
    }

    &__right {
      & h3 {
        font-size: 24px;
        line-height: 32px;
      }

      & label {
        margin-top: 16px;

        & input {
          width: 151px;
          height: 44px;
        }

        & .btn {
          padding: 12px 24px;
        }
      }
    }
  }
}
